In [3]:
import pandas as pd

In [46]:
# Load dataset
csv_file_path = r'Datasets\Weekly_Influenza_Vaccination_Coverage_and_Intent_for_Vaccination__Overall__by_Selected_Demographics_and_Jurisdiction__Among_Adults_18_Years_and_Older_20241101.csv'
df = pd.read_csv(csv_file_path)

In [ ]:
# Create new dataset filtering for Race/Ethnicity, and "Received a vaccination" indicator label
filtered_df = df[
    (df['Demographic Level'] == 'Race/Ethnicity') & 
    (df['indicator_category_label'] == 'Received a vaccination')
    ].copy()  # Add .copy() here to ensure a new DataFrame


# Calculate the number of people who received a vaccination 
filtered_df['Yes Vaccination'] = (filtered_df['Estimates'] / 100) * filtered_df['Unweighted Sample Size']

# Calculate the number of people who did NOT receive a vaccination
filtered_df['No Vaccination'] = filtered_df['Unweighted Sample Size'] - filtered_df['Yes Vaccination']

# Remove rows where either Yes Vaccination or No Vaccination is 0
filtered_df = filtered_df[(filtered_df['Yes Vaccination'] != 0) | (filtered_df['No Vaccination'] != 0)]

# Create a pivot table to aggregate Yes and No vaccinations
pivot_df = filtered_df.pivot_table(
    index=['Geographic Level', 'Week_ending', 'Demographic Name'],
    values=['Yes Vaccination', 'No Vaccination'],
    aggfunc='sum'
).reset_index()

# Rename columns to match the requested format
pivot_df.rename(columns={
    'Demographic Name': 'Race/Ethnicity'

}, inplace=True)



# Display the resulting DataFrame
pivot_df

# Save the filtered DataFrame to a CSV file
pivot_df.to_csv("race_ethnicity.csv", index=False)

,Geographic Level,Week_ending,Race/Ethnicity,No Vaccination,Yes Vaccination
0,National,01/06/2024 12:00:00 AM,"American Indian/Alaska Native, Non-Hispanic",3998.540,1916.460
1,National,01/06/2024 12:00:00 AM,"Asian, Non-Hispanic",11970.805,10744.195
2,National,01/06/2024 12:00:00 AM,"Black, Non-Hispanic",29284.271,18024.729
3,National,01/06/2024 12:00:00 AM,Hispanic,49699.868,24701.132
4,National,01/06/2024 12:00:00 AM,"Multiple Race/Other (Excludes Asian, AIAN, PI/...",11788.920,6073.080
...,...,...,...,...,...
283,National,12/30/2023 12:00:00 AM,Hispanic,49699.868,24701.132
284,National,12/30/2023 12:00:00 AM,"Multiple Race/Other (Excludes Asian, AIAN, PI/...",11985.402,5876.598
285,National,12/30/2023 12:00:00 AM,"Other, Non-Hispanic",30202.320,19309.680
286,National,12/30/2023 12:00:00 AM,"Pacific Islander/Native Hawaiian, Non-Hispanic",0.000,0.000
287,National,12/30/2023 12:00:00 AM,"White, Non-Hispanic",174901.814,156980.186

In [ ]:
# Create new dataset filtering for Poverty Status, and "Received a vaccination" indicator label
filtered_df = df[
    (df['Demographic Level'] == 'Poverty Status') & 
    (df['indicator_category_label'] == 'Received a vaccination')
    ].copy()  # Add .copy() here to ensure a new DataFrame


# Calculate the number of people who received a vaccination
filtered_df['Yes Vaccination'] = (filtered_df['Estimates'] / 100) * filtered_df['Unweighted Sample Size']

# Calculate the number of people who did NOT receive a vaccination
filtered_df['No Vaccination'] = filtered_df['Unweighted Sample Size'] - filtered_df['Yes Vaccination']

# Remove rows where either Yes Vaccination or No Vaccination is 0
filtered_df = filtered_df[(filtered_df['Yes Vaccination'] != 0) | (filtered_df['No Vaccination'] != 0)]

# Create a pivot table to aggregate Yes and No vaccinations
pivot_df = filtered_df.pivot_table(
    index=['Geographic Level', 'Week_ending', 'Demographic Name'],
    values=['Yes Vaccination', 'No Vaccination'],
    aggfunc='sum'
).reset_index()

# Rename columns to match the requested format
pivot_df.rename(columns={
    'Demographic Name': 'Poverty Status'

}, inplace=True)

# Display the resulting DataFrame
pivot_df


# Save the filtered DataFrame to a CSV file
pivot_df.to_csv("poverty_status.csv", index=False)

,Geographic Level,Week_ending,Poverty Status,No Vaccination,Yes Vaccination
0,National,01/06/2024 12:00:00 AM,"Above Poverty, Income < $75k",88960.660,62849.340
1,National,01/06/2024 12:00:00 AM,"Above Poverty, Income >= $75k",104487.870,105327.130
2,National,01/06/2024 12:00:00 AM,Below Poverty,30634.599,14218.401
3,National,01/06/2024 12:00:00 AM,Poverty Status Unknown,67509.484,44632.516
4,National,01/13/2024 12:00:00 AM,"Above Poverty, Income < $75k",88201.610,63608.390
...,...,...,...,...,...
139,National,12/23/2023 12:00:00 AM,Poverty Status Unknown,68743.046,43398.954
140,National,12/30/2023 12:00:00 AM,"Above Poverty, Income < $75k",90175.140,61634.860
141,National,12/30/2023 12:00:00 AM,"Above Poverty, Income >= $75k",105956.575,103858.425
142,National,12/30/2023 12:00:00 AM,Below Poverty,31217.688,13635.312
143,National,12/30/2023 12:00:00 AM,Poverty Status Unknown,68518.762,43623.238

In [ ]:
# Create new dataset filtering for Health Insurance, and "Received a vaccination" indicator label

filtered_df = df[
    (df['Demographic Level'] == 'Health Insurance') & 
    (df['indicator_category_label'] == 'Received a vaccination')
    ].copy()  # Add .copy() here to ensure a new DataFrame


# Calculate the number of people who received a vaccination
filtered_df['Yes Vaccination'] = (filtered_df['Estimates'] / 100) * filtered_df['Unweighted Sample Size']

# Calculate the number of people who did NOT receive a vaccination
filtered_df['No Vaccination'] = filtered_df['Unweighted Sample Size'] - filtered_df['Yes Vaccination']

# Remove rows where either Yes Vaccination or No Vaccination is 0
filtered_df = filtered_df[(filtered_df['Yes Vaccination'] != 0) | (filtered_df['No Vaccination'] != 0)]

# Create a pivot table to aggregate Yes and No vaccinations
pivot_df = filtered_df.pivot_table(
    index=['Geographic Level', 'Week_ending', 'Demographic Name'],
    values=['Yes Vaccination', 'No Vaccination'],
    aggfunc='sum'
).reset_index()

# Rename columns to match the requested format
pivot_df.rename(columns={
    'Demographic Name': 'Health Insurance'

}, inplace=True)



# Display the resulting DataFrame
pivot_df

# Save the filtered DataFrame to a CSV file
pivot_df.to_csv("health_insurance.csv", index=False)

,Geographic Level,Week_ending,Health Insurance,No Vaccination,Yes Vaccination
0,National,01/06/2024 12:00:00 AM,Insured,246915.448,216340.552
1,National,01/06/2024 12:00:00 AM,Uninsured,33226.884,7195.116
2,National,01/13/2024 12:00:00 AM,Insured,245525.680,217730.320
3,National,01/13/2024 12:00:00 AM,Uninsured,33105.618,7316.382
4,National,01/20/2024 12:00:00 AM,Insured,242746.144,220509.856
...,...,...,...,...,...
67,National,12/16/2023 12:00:00 AM,Uninsured,33954.480,6467.520
68,National,12/23/2023 12:00:00 AM,Insured,250621.496,212634.504
69,National,12/23/2023 12:00:00 AM,Uninsured,33914.058,6507.942
70,National,12/30/2023 12:00:00 AM,Insured,247841.960,215414.040
71,National,12/30/2023 12:00:00 AM,Uninsured,33590.682,6831.318

In [ ]:
# Create new dataset filtering for Urbanicity, and "Received a vaccination" indicator label
urbanicity_df = df[
    (df['Demographic Level'] == 'Urbanicity') & 
    (df['indicator_category_label'] == 'Received a vaccination')
].copy()  # Add .copy() here to ensure a new DataFrame

# Calculate the number of people who received a vaccination
urbanicity_df['Yes Vaccination'] = (urbanicity_df['Estimates'] / 100) * urbanicity_df['Unweighted Sample Size']

# Calculate the number of people who did NOT receive a vaccination
urbanicity_df['No Vaccination'] = urbanicity_df['Unweighted Sample Size'] - urbanicity_df['Yes Vaccination']

# Remove rows where either Yes Vaccination or No Vaccination is 0
urbanicity_df = urbanicity_df[(urbanicity_df['Yes Vaccination'] != 0) | (urbanicity_df['No Vaccination'] != 0)]

# Create a pivot table to aggregate Yes and No vaccinations
pivot_df = urbanicity_df.pivot_table(
    index=['Geographic Level', 'Week_ending', 'Demographic Name'],
    values=['Yes Vaccination', 'No Vaccination'],
    aggfunc='sum'
).reset_index()

# Rename columns to match the requested format
pivot_df.rename(columns={
    'Demographic Name': 'Urbanicity'
}, inplace=True)

# Display the resulting DataFrame
pivot_df

# Save the filtered DataFrame to a CSV file
pivot_df.to_csv("urbanicity.csv", index=False)

,Geographic Level,Week_ending,Urbanicity,No Vaccination,Yes Vaccination
0,National,01/06/2024 12:00:00 AM,Rural (Non-MSA),59939.541,36581.459
1,National,01/06/2024 12:00:00 AM,Suburban (MSA Non-Principal City),132340.860,106111.140
2,National,01/06/2024 12:00:00 AM,Urban MSA Principal City,103944.202,79702.798
3,National,01/13/2024 12:00:00 AM,Rural (Non-MSA),59746.499,36774.501
4,National,01/13/2024 12:00:00 AM,Suburban (MSA Non-Principal City),131148.600,107303.400
...,...,...,...,...,...
103,National,12/23/2023 12:00:00 AM,Suburban (MSA Non-Principal City),137109.900,101342.100
104,National,12/23/2023 12:00:00 AM,Urban MSA Principal City,104127.849,79519.151
105,National,12/30/2023 12:00:00 AM,Rural (Non-MSA),59939.541,36581.459
106,National,12/30/2023 12:00:00 AM,Suburban (MSA Non-Principal City),135440.736,103011.264
107,National,12/30/2023 12:00:00 AM,Urban MSA Principal City,103944.202,79702.798

In [ ]:
# Create new dataset filtering for Disability Status, and the "Received a vaccination" indicator label

filtered_df = df[
    (df['Demographic Level'] == 'Disability Status') & 
    (df['indicator_category_label'] == 'Received a vaccination')
    ].copy()  # Add .copy() here to ensure a new DataFrame


# Calculate the number of people who received a vaccination
filtered_df['Yes Vaccination'] = (filtered_df['Estimates'] / 100) * filtered_df['Unweighted Sample Size']

# Calculate the number of people who did NOT receive a vaccination
filtered_df['No Vaccination'] = filtered_df['Unweighted Sample Size'] - filtered_df['Yes Vaccination']

# Remove rows where either Yes Vaccination or No Vaccination is 0
filtered_df = filtered_df[(filtered_df['Yes Vaccination'] != 0) | (filtered_df['No Vaccination'] != 0)]

# Create a pivot table to aggregate Yes and No vaccinations
pivot_df = filtered_df.pivot_table(
    index=['Geographic Level', 'Week_ending', 'Demographic Name'],
    values=['Yes Vaccination', 'No Vaccination'],
    aggfunc='sum'
).reset_index()

# Rename columns to match the requested format
pivot_df.rename(columns={
    'Demographic Name': 'Disability Status'

}, inplace=True)

# Display the resulting DataFrame
pivot_df


# Save the filtered DataFrame to a CSV file
pivot_df.to_csv("disability_status.csv", index=False)

,Geographic Level,Week_ending,Disability Status,No Vaccination,Yes Vaccination
0,National,01/06/2024 12:00:00 AM,No,264741.048,198092.952
1,National,01/06/2024 12:00:00 AM,Yes,29123.795,25313.205
2,National,01/13/2024 12:00:00 AM,No,262889.712,199944.288
3,National,01/13/2024 12:00:00 AM,Yes,28851.610,25585.390
4,National,01/20/2024 12:00:00 AM,No,260575.542,202258.458
...,...,...,...,...,...
67,National,12/16/2023 12:00:00 AM,Yes,30648.031,23788.969
68,National,12/23/2023 12:00:00 AM,No,268906.554,193927.446
69,National,12/23/2023 12:00:00 AM,Yes,30266.972,24170.028
70,National,12/30/2023 12:00:00 AM,No,265666.716,197167.284
71,National,12/30/2023 12:00:00 AM,Yes,30266.972,24170.028

In [51]:
# Create new dataset filtering for Sexual Orientation, and "Received a vaccination" indicator label

filtered_df = df[
    (df['Demographic Level'] == 'Sexual Orientation') & 
    (df['indicator_category_label'] == 'Received a vaccination')
    ].copy()  # Add .copy() here to ensure a new DataFrame


# Calculate the number of people who received a vaccination
filtered_df['Yes Vaccination'] = (filtered_df['Estimates'] / 100) * filtered_df['Unweighted Sample Size']

# Calculate the number of people who did NOT receive a vaccination
filtered_df['No Vaccination'] = filtered_df['Unweighted Sample Size'] - filtered_df['Yes Vaccination']

# Remove rows where either Yes Vaccination or No Vaccination is 0
filtered_df = filtered_df[(filtered_df['Yes Vaccination'] != 0) | (filtered_df['No Vaccination'] != 0)]

# Create a pivot table to aggregate Yes and No vaccinations
pivot_df = filtered_df.pivot_table(
    index=['Geographic Level', 'Week_ending', 'Demographic Name'],
    values=['Yes Vaccination', 'No Vaccination'],
    aggfunc='sum'
).reset_index()

# Rename columns to match the requested format
pivot_df.rename(columns={
    'Demographic Name': 'Sexual Orientation'

}, inplace=True)


# Save the filtered DataFrame to a CSV file
pivot_df.to_csv("sexual_orientation.csv", index=False)

# Display the resulting DataFrame
pivot_df

,Geographic Level,Week_ending,Sexual Orientation,No Vaccination,Yes Vaccination
0,National,01/06/2024 12:00:00 AM,Don't Know/Refused,18865.688,11910.312
1,National,01/06/2024 12:00:00 AM,Gay/Lesbian/Bisexual/Other,22550.576,16063.424
2,National,01/06/2024 12:00:00 AM,Straight,249310.506,194302.494
3,National,01/13/2024 12:00:00 AM,Don't Know/Refused,18742.584,12033.416
4,National,01/13/2024 12:00:00 AM,Gay/Lesbian/Bisexual/Other,22357.506,16256.494
...,...,...,...,...,...
103,National,12/23/2023 12:00:00 AM,Gay/Lesbian/Bisexual/Other,23438.698,15175.302
104,National,12/23/2023 12:00:00 AM,Straight,253303.023,190309.977
105,National,12/30/2023 12:00:00 AM,Don't Know/Refused,19419.656,11356.344
106,National,12/30/2023 12:00:00 AM,Gay/Lesbian/Bisexual/Other,23052.558,15561.442
107,National,12/30/2023 12:00:00 AM,Straight,250641.345,192971.655

In [52]:
# Create new dataset filtering for Health Insurance Among 18-64 Years, and "Received a vaccination" indicator label

filtered_df = df[
    (df['Demographic Level'] == 'Health Insurance Among 18-64 Years') & 
    (df['indicator_category_label'] == 'Received a vaccination')
    ].copy()  # Add .copy() here to ensure a new DataFrame


# Calculate the number of people who received a vaccination
filtered_df['Yes Vaccination'] = (filtered_df['Estimates'] / 100) * filtered_df['Unweighted Sample Size']

# Calculate the number of people who did NOT receive a vaccination
filtered_df['No Vaccination'] = filtered_df['Unweighted Sample Size'] - filtered_df['Yes Vaccination']

# Remove rows where either Yes Vaccination or No Vaccination is 0
filtered_df = filtered_df[(filtered_df['Yes Vaccination'] != 0) | (filtered_df['No Vaccination'] != 0)]

# Create a pivot table to aggregate Yes and No vaccinations
pivot_df = filtered_df.pivot_table(
    index=['Geographic Level', 'Week_ending', 'Demographic Name'],
    values=['Yes Vaccination', 'No Vaccination'],
    aggfunc='sum'
).reset_index()

# Rename columns to match the requested format
pivot_df.rename(columns={
    'Demographic Name': 'Health Insurance Among 18-64 YO'

}, inplace=True)


# Save the filtered DataFrame to a CSV file
pivot_df.to_csv("Health_Insurance_18_64.csv", index=False)

# Display the resulting DataFrame
pivot_df

,Geographic Level,Week_ending,Health Insurance Among 18-64 YO,No Vaccination,Yes Vaccination
0,National,01/06/2024 12:00:00 AM,Insured,188957.032,128084.968
1,National,01/06/2024 12:00:00 AM,Uninsured,31607.244,6565.756
2,National,01/13/2024 12:00:00 AM,Insured,187688.864,129353.136
3,National,01/13/2024 12:00:00 AM,Uninsured,31530.898,6642.102
4,National,01/20/2024 12:00:00 AM,Insured,186103.654,130938.346
...,...,...,...,...,...
67,National,12/16/2023 12:00:00 AM,Uninsured,32294.358,5878.642
68,National,12/23/2023 12:00:00 AM,Insured,191493.368,125548.632
69,National,12/23/2023 12:00:00 AM,Uninsured,32294.358,5878.642
70,National,12/30/2023 12:00:00 AM,Insured,189591.116,127450.884
71,National,12/30/2023 12:00:00 AM,Uninsured,31988.974,6184.026

In [53]:
# Create new dataset filtering for Gender Identity, and "Received a vaccination" indicator label

filtered_df = df[
    (df['Demographic Level'] == 'Gender Identity') & 
    (df['indicator_category_label'] == 'Received a vaccination')
    ].copy()  # Add .copy() here to ensure a new DataFrame


# Calculate the number of people who received a vaccination
filtered_df['Yes Vaccination'] = (filtered_df['Estimates'] / 100) * filtered_df['Unweighted Sample Size']

# Calculate the number of people who did NOT receive a vaccination
filtered_df['No Vaccination'] = filtered_df['Unweighted Sample Size'] - filtered_df['Yes Vaccination']

# Remove rows where either Yes Vaccination or No Vaccination is 0
filtered_df = filtered_df[(filtered_df['Yes Vaccination'] != 0) | (filtered_df['No Vaccination'] != 0)]

# Create a pivot table to aggregate Yes and No vaccinations
pivot_df = filtered_df.pivot_table(
    index=['Geographic Level', 'Week_ending', 'Demographic Name'],
    values=['Yes Vaccination', 'No Vaccination'],
    aggfunc='sum'
).reset_index()

# Rename columns to match the requested format
pivot_df.rename(columns={
    'Demographic Name': 'Gender Identity'

}, inplace=True)


# Save the filtered DataFrame to a CSV file
pivot_df.to_csv("gender_identity.csv", index=False)

# Display the resulting DataFrame
pivot_df

,Geographic Level,Week_ending,Gender Identity,No Vaccination,Yes Vaccination
0,National,01/06/2024 12:00:00 AM,Cisgender,285388.280,219723.720
1,National,01/06/2024 12:00:00 AM,Don't Know/Refused,2983.516,1782.484
2,National,01/06/2024 12:00:00 AM,Transgender/Nonbinary,3469.640,1994.360
3,National,01/13/2024 12:00:00 AM,Cisgender,283872.944,221239.056
4,National,01/13/2024 12:00:00 AM,Don't Know/Refused,2973.984,1792.016
...,...,...,...,...,...
103,National,12/23/2023 12:00:00 AM,Don't Know/Refused,3078.836,1687.164
104,National,12/23/2023 12:00:00 AM,Transgender/Nonbinary,3578.920,1885.080
105,National,12/30/2023 12:00:00 AM,Cisgender,286903.616,218208.384
106,National,12/30/2023 12:00:00 AM,Don't Know/Refused,0.000,0.000
107,National,12/30/2023 12:00:00 AM,Transgender/Nonbinary,3578.920,1885.080